<div class="min-h-screen p-8 bg-white shadow-lg rounded-2xl border border-gray-200   dark:bg-[#222b45]  dark:border-gray-600">
    <form [formGroup]="employeForm" (ngSubmit)="onSubmit()" class="space-y-7">
        <h3 class="text-2xl font-semibold text-center py-3 bg-[#052659] text-white rounded-lg dark:bg-[#151a30]">Users</h3>

        <!-- Image de profil --> 
        <div class="form-group">
            <label for="profileImage" class="block text-sm font-medium  mb-2 ">Image de profil:</label>
            <input id="profileImage" type="file" (change)="onFileChange($event)"
                class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
        </div>

        <!-- Nom complet -->
        <div class="form-group">
            <label for="fullName" class="block text-sm font-medium  mb-2">Nom complet</label>
            <input id="fullName" type="text" formControlName="fullName"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="Entrez le nom complet" />
            <div *ngIf="employeForm.get('fullName')?.touched && employeForm.get('fullName')?.invalid"
                class="text-sm text-red-600 mt-1">Nom complet requis (min. 3 caractères).
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email" class="block text-sm font-medium  mb-2">Email</label>
            <input id="email" type="email" formControlName="email"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="Entrez l'email" />
            <div *ngIf="employeForm.get('email')?.touched && employeForm.get('email')?.invalid"
                class="text-sm text-red-600 mt-1">Email valide requis.
            </div>
        </div>

        <!-- Téléphone -->
        <div class="form-group">
            <label for="phone" class="block text-sm font-medium  mb-2">Téléphone</label>
            <input id="phone" type="text" formControlName="phone"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="Entrez le numéro de téléphone" />
            <div *ngIf="employeForm.get('phone')?.touched && employeForm.get('phone')?.invalid"
                class="text-sm text-red-600 mt-1">Numéro valide requis (8-12 chiffres).
            </div>
        </div>

        <!-- Rôle -->
        <div class="form-group">
            <label for="role" class="block text-sm font-medium  mb-2">Rôle</label>
            <select id="role" formControlName="role"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600">
                <option value="" disabled selected>Choisissez un rôle</option>
                <option value="ROLE_Admin">Admin</option>
                <option value="ROLE_Manager">Manager</option>
                <option value="ROLE_Employer">Employer</option>
            </select>
            <div *ngIf="employeForm.get('role')?.touched && employeForm.get('role')?.invalid"
                class="text-sm text-red-600 mt-1">Rôle requis.
            </div>
        </div>

        <!-- Mot de passe -->
        <div class="form-group">
            <label for="password" class="block text-sm font-medium  mb-2">Mot de passe</label>
            <input id="password" type="password" formControlName="password"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="Entrez un mot de passe" />
            <div *ngIf="employeForm.get('password')?.touched && employeForm.get('password')?.invalid"
                class="text-sm text-red-600 mt-1">Mot de passe requis (min. 6 caractères).
            </div>
        </div>
        <!-- Mot de passe confirmation -->
        <div class="form-group">
            <label for="password" class="block text-sm font-medium  mb-2">Confirmation mot de passe </label>
            <input id="password" type="password" formControlName="password"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="Entrez un mot de passe" />
            <div *ngIf="employeForm.get('password')?.touched && employeForm.get('password')?.invalid"
                class="text-sm text-red-600 mt-1">Mot de passe requis (min. 6 caractères).
            </div>
        </div>
            <!-- Buttons Section -->
        <div class="flex flex-col md:flex-row justify-end gap-2">
            <button class="px-4 py-2  rounded-md bg-[#052659] hover:bg-[#3483E3]  text-white dark:bg-blue-800 dark:hover:bg-[#3483E3]">Create
                user</button>
            <button class="px-4 py-2 bg-orange-500 text-white rounded-md hover:bg-orange-600">Cancel</button>
        </div>
    </form>
</div>
