<div class="p-8 bg-white shadow-lg rounded-2xl border border-gray-200   dark:bg-[#222b45]  dark:border-gray-600">
    <form [formGroup]="marchandiseForm" (ngSubmit)="onSubmit()" class="space-y-7">
        <h3 class="text-2xl font-semibold text-center py-3 bg-[#052659] text-white rounded-lg dark:bg-[#151a30]">
            Nouvelle Operation</h3>

        <div class="grid gap-6 md:grid-cols-2">
            <!-- Parti1 -->
            <div class="space-y-4">
                <div class="space-y-2">
                    <label for="Ref" class="block text-sm font-medium  mb-2">Référence :</label>
                    <input id="Ref" type="text" formControlName="Ref"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="Ref000101" />
                    <div *ngIf="marchandiseForm.get('Ref')?.touched && marchandiseForm.get('Ref')?.invalid"
                        class="text-sm text-red-600 mt-1">Référence requis (min. 3 caractères).
                    </div>
                </div>
                <div class="space-y-2">
                    <label for="desg" class="block text-sm font-medium  mb-2">Désignation :</label>
                    <input id="desg" type="text" formControlName="Desg"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="Désignation" />
                    <div *ngIf="marchandiseForm.get('Desg')?.touched && marchandiseForm.get('Desg')?.invalid"
                        class="text-sm text-red-600 mt-1">Désignation requis (min. 3 caractères).
                    </div>
                </div>
                <div class="space-y-2">
                    <label for="Categorie" class="block text-sm font-medium  mb-2">Catégorie :</label>
                    <select id="Categorie" formControlName="Categorie"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600">
                        <option value="" disabled selected>Choisissez un Catégorie</option>
                        <option value="ROLE_Admin">Admin</option>
                        <option value="ROLE_Manager">Manager</option>
                        <option value="ROLE_Employer">Employer</option>
                    </select>
                    <div *ngIf="marchandiseForm.get('Categorie')?.touched && marchandiseForm.get('Categorie')?.invalid"
                        class="text-sm text-red-600 mt-1">Catégorie requis.
                    </div>
                </div>
                <div class="space-y-2">
                    <label for="unite" class="block text-sm font-medium  mb-2">Unité :</label>
                    <input id="unite" type="text" formControlName="unit"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="Unité" />
                    <div *ngIf="marchandiseForm.get('unit')?.touched && marchandiseForm.get('unit')?.invalid"
                        class="text-sm text-red-600 mt-1">Unité requis
                    </div>
                </div>
            </div>

            <!-- Parti2 -->
            <div class="space-y-4">
                <div class="space-y-2">
                    <label for="date">Date</label>
                    <input type="date" id="date" placeholder="dd-mm-yyyy"
                        class="w-full p-2 border rounded-md  border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600" />
                </div>
                <div class="space-y-2">
                    <label for="Qte" class="block text-sm font-medium  mb-2">Quantité :</label>
                    <input id="Qte" type="number" formControlName="Qte"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="0" />
                    <div *ngIf="marchandiseForm.get('Qte')?.touched && marchandiseForm.get('Qte')?.invalid"
                        class="text-sm text-red-600 mt-1">Quantité requis
                    </div>
                </div>
                <div class="space-y-2">
                    <label for="PU" class="block text-sm font-medium  mb-2">Prix unitaire :</label>
                    <div class="relative flex rounded-md">
                        <span
                            class="flex items-center justify-center rounded-l-md border border-r-0 bg-gray-100 px-3  dark:bg-gray-800 dark:border-gray-600">DTN</span>
                        <input id="PU" type="number" formControlName="PrixUni"
                            class="pl-6 rounded-l-none w-full p-2 border rounded-md  border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                            placeholder="000" />
                    </div>
                    <div *ngIf="marchandiseForm.get('PrixUni')?.touched && marchandiseForm.get('PrixUni')?.invalid"
                        class="text-sm text-red-600 mt-1">Prix unitaire requis
                    </div>
                </div>
                <div class="space-y-2">
                    <label for="Total" class="block text-sm font-medium  mb-2">Total :</label>
                    <div class="relative flex rounded-md">
                        <span
                            class="flex items-center justify-center rounded-l-md border border-r-0 bg-gray-100 px-3  dark:bg-gray-800 dark:border-gray-600">DTN</span>
                        <input id="Total" type="number" formControlName="total"
                            class="pl-6 rounded-l-none w-full p-2 border rounded-md  border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                            placeholder="000" />
                    </div>
                    <div *ngIf="marchandiseForm.get('total')?.touched && marchandiseForm.get('total')?.invalid"
                        class="text-sm text-red-600 mt-1">Total requis
                    </div>
                </div>
            </div>
        </div>


        <!-- Buttons Section -->
        <div class="flex flex-col md:flex-row justify-end gap-2">
            <button
                class="px-4 py-2  rounded-md bg-[#052659] hover:bg-[#3483E3]  text-white dark:bg-blue-800 dark:hover:bg-[#3483E3]">
                Entrée</button>
                <button
                class="px-4 py-2  rounded-md bg-[#052659] hover:bg-[#3483E3]  text-white dark:bg-blue-800 dark:hover:bg-[#3483E3]">
                Sortie</button>
            <button type="reset"
                class="px-4 py-2 bg-orange-500 text-white rounded-md hover:bg-orange-600">Annuler</button>
        </div>
    </form>
</div>
