<div
    class="p-8 bg-white shadow-lg rounded-2xl border border-gray-200   dark:bg-[#222b45]  dark:border-gray-600">
    <form [formGroup]="creanceForm" (ngSubmit)="onSubmit()" class="space-y-7">
        <h3 class="text-2xl font-semibold text-center py-3 bg-[#052659] text-white rounded-lg dark:bg-[#151a30]">
            Nouvelle créance</h3>

        <div class="grid gap-6 md:grid-cols-2">
            <!-- Parti1 -->
            <div class="space-y-4">
                <div class="space-y-2">
                    <label for="numFact" class="block text-sm font-medium  mb-2">N° Facture :</label>
                    <input id="numFact" type="text" formControlName="numFact"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="FAC-2024-001" />
                    <div *ngIf="creanceForm.get('numFact')?.touched && creanceForm.get('numFact')?.invalid"
                        class="text-sm text-red-600 mt-1">N° Facture requis
                    </div>
                </div>
                <div class="space-y-2">
                    <label for="date" class="block text-sm font-medium  mb-2">Date d'émission :</label>
                    <input id="date" type="date" formControlName="date"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="mm/dd/yyyy" />
                    <div *ngIf="creanceForm.get('date')?.touched && creanceForm.get('date')?.invalid"
                        class="text-sm text-red-600 mt-1">Date d'émission requis
                    </div>
                </div>

                <div class="space-y-2">
                    <label for="Client" class="block text-sm font-medium  mb-2">Client :</label>
                    <input id="Client" type="text" formControlName="Client"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                        placeholder="Client" />
                    <div *ngIf="creanceForm.get('Client')?.touched && creanceForm.get('Client')?.invalid"
                        class="text-sm text-red-600 mt-1">Client requis
                    </div>
                </div>
            </div>

            <!-- Parti2 -->
            <div class="space-y-4">
                <div class="space-y-2">
                    <label for="DRegle" class="block text-sm font-medium  mb-2">Délai de règlement :</label>
            <input id="DRegle" type="text" formControlName="DRegle"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="30 jours" />
            <div *ngIf="creanceForm.get('DRegle')?.touched && creanceForm.get('DRegle')?.invalid"
                class="text-sm text-red-600 mt-1">Délai de règlement requis
            </div>
        </div>
                <div class="space-y-2">
                    <label for="montFact" class="block text-sm font-medium  mb-2">Montant facturé :</label>
            <input id="montFact" type="number" formControlName="montFact"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent  dark:focus:ring-yellow-500 dark:bg-[#151a30] dark:border-gray-600"
                placeholder="1268" />
            <div *ngIf="creanceForm.get('montFact')?.touched && creanceForm.get('montFact')?.invalid"
                class="text-sm text-red-600 mt-1">Montant facturé requis
            </div></div>
            </div>
        </div>


        <!-- Buttons Section -->
        <div class="flex flex-col md:flex-row justify-end gap-2">
            <button
                class="px-4 py-2  rounded-md bg-[#052659] hover:bg-[#3483E3]  text-white dark:bg-blue-800 dark:hover:bg-[#3483E3]">
                Ajouter</button>
            <button type="reset"
                class="px-4 py-2 bg-orange-500 text-white rounded-md hover:bg-orange-600">Annuler</button>
        </div>
    </form>
</div>